.jalali-date-field {
  position: relative;

  &:focus-within > .jalali-date-picker {
    max-height: 32rem;
    min-height: 30rem;
    padding: 1rem;
    border: 1px solid var(--theme-elevation-150);
    box-shadow: 0 1.5rem 3rem -2rem var(--theme-elevation-250);
    opacity: 1;
  }

  .jalali-date-picker {
    max-height: 0rem;
    min-height: 0rem;
    padding: 0rem;
    border: 0px solid var(--theme-elevation-150);
    box-shadow: 0 0 0 0 var(--theme-elevation-250);
    opacity: 0;

    transition:
      box-shadow 0.3s ease-in-out,
      max-height 0.6s ease-in-out,
      min-height 0.3s ease-in-out,
      padding 0.1s ease-in-out,
      border 0.1s ease-in-out,
      opacity 0.15s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    border-radius: var(--style-radius-l);
    top: 110%;
    font-family: var(--font-body);
    width: 100%;
    height: 100%;
    min-width: 26rem;
    max-width: 28rem;
    z-index: 9999;
    background: var(--theme-input-bg);

    right: 50%;
    translate: 50% 0;

    @supports (backdrop-filter: blur(0.1rem)) {
      backdrop-filter: blur(1.5rem);
      background: var(--theme-elevation-150) / 40%;
    }

    .jalali-date-picker-input {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;

      span {
        font-size: 3rem;
      }

      input {
        -moz-appearance: textfield;
        appearance: textfield;

        text-align: center;
        flex-grow: 1;
        font-size: 1.5rem;
        padding: 0.5rem;
        border: 1px solid var(--theme-elevation-150);
        border-radius: var(--style-radius-l);
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    }
  }
}
